.checklist-columns {
  display: flex;
  gap: 15px;
}

.checklist, .checklist-items {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  transition: gap 0.2s ease, padding 0.2s ease;
  height: fit-content;
}

.checklist-dragging {
  gap: 50px;
  padding-top: 35px;
  padding-bottom: 35px
}

.column-space {
  width: 50%;
  height: 100%;
}

.item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: opacity 0.2s;
}

.item-packed {
  opacity: 0.5;
}

.item-main {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding-right: 32px;
  position: relative;
}

.item-main-clickable {
  cursor: pointer;
}

.item-grip {
  width: 38px;
  height: 13px;
  min-width: 38px;
}

.item-grip-area {
  cursor: pointer;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.item-checkbox {
  width: 18px;
  aspect-ratio: 1;
  height: auto;
  margin: 0 10px 0 10px;
  border-radius: 3px;
  transition: background 0.2s;
}

.item-checkbox-area {
  position: relative;
}

.item-check {
  position: absolute;
  width: 18px;
  top: 0;
  right: 10px;
  transition: opacity 0.2s;
  pointer-events: none;
}

.item-check-visible {
  opacity: 1;
}

.item-check-invisible {
  opacity: 0;
}

.item-checkbox-unselected {
  background-color: rgba(255, 255, 255, 0.9);
  border: rgba(0, 0, 0, 0.8) solid 2px;
}

.item-checkbox-selected {
  background-color: rgba(0, 0, 0, 0.8);
  border: rgba(0, 0, 0, 1) solid 2px;
}

.item-checkbox-unselected:hover {
  background-color: rgba(210, 210, 210, 0.9);
}

.item-delete {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 14px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
}

.item-icon {
  width: 18px;
  height: 18px;
}

.item-label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
}

.item-name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  background: none;
  outline: none;
  resize: none;
  color: white;
  border: none;
  width: 50px;
  flex-grow: 1;
}

.item-name::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.item-content {
  display: flex;
  flex-direction: column;
  margin: 8px 0 8px 0;
  flex-grow: 1;
}

.item-sizes {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 20px;
  margin-left: -3px;
}

.item-size {
  letter-spacing: 3%;
  font-size: 13px;
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
  color: rgba(255, 255, 255, 0.7);
  transition: font-size 0.3s, font-weight 0.3s, margin-bottom 0.3s;
}

.item-size-selected {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 1px;
}

.item-category {
  display: flex;
  gap: 6px;
  margin-top: 4px;
  align-items: center;
}

.item-category-label {
  margin: 0 0 2px 0;
  font-size: 15px;
}

.item-category-select {
  font-size: 14px;
  color: white;
  background: none;
  border-color: white;
  border-radius: 5px;
  padding: 2px 6px 2px 2px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.item-category-select:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

.container-list {
  width: 100%;
  background-color: #995A29;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  transition: padding 0.2s ease, gap 0.2s ease;
  min-height: 60px;
}

.container-list-dragging {
  padding-top: 30px;
  gap: 30px;
}

.checklist-items {
  transition: gap 0.2s ease;
}

.checklist-items-dragging {
  gap: 30px;
}

.container-list-add-item {
  border: dashed rgba(255, 255, 255, 0.7);
  color: white;
  background: none;
  text-align: center;
  width: 100%;
  transition: background 0.2s, padding 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.container-list-add-item:hover, .container-list-add-item-hover {
  background: rgba(255, 255, 255, 0.15);
}

.container-list-add-item-dragging {
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes fadeIn {
  from { opacity: 0; margin-top: -42px; }
  to { opacity: 1; }
}

.checklist-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checklist-add-buttons {
  height: 32px;
  animation: fadeIn 0.2s ease;
  transition: opacity 0.2s ease, display 0.2s ease allow-discrete, margin-top 0.2s ease;
}

.checklist-add-buttons-hidden {
  opacity: 0;
  display: none;
  margin-top: -42px;
}

.suggestion-button {
  display: flex;
  justify-content: left;
}

.suggestion-icon {
  width: 1em;
  text-align: left;
}